---
import RootLayout from "../../layouts/RootLayout.astro";
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({ params: { slug: post.slug }, props: {} }));
}

const { slug } = Astro.params;

const post = await getEntry("blog", slug);
const { Content } = await post.render();
---

<RootLayout>
  <header>
    <h2>{post.data.title}</h2>
    <p>{new Date(post.data.pubDate).toDateString()}</p>
    {
      post.data.ai === "enhanced" && (
        <p class="ai-enhanced">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12.0625 2.06496C11.7729 1.93798 11.4876 2.02681 11.3041 2.2137C11.1259 2.39524 11.0367 2.67231 11.0992 2.95167C11.1979 3.39261 11.25 3.85136 11.25 4.32258C11.25 5.39842 10.9789 6.15193 10.5123 6.77657C10.038 7.41156 9.35149 7.92851 8.48466 8.5118C8.47103 8.52097 8.45834 8.53146 8.44678 8.54311L8.34179 8.64891C6.48195 9.85046 5.25 11.9426 5.25 14.3226C5.25 18.0505 8.27208 21.0726 12 21.0726C15.7279 21.0726 18.75 18.0505 18.75 14.3226C18.75 13.228 18.4893 12.1936 18.0264 11.2788C17.9887 11.2044 17.9164 11.1537 17.8336 11.1435C17.7508 11.1334 17.6684 11.1653 17.614 11.2284C17.5435 11.3102 17.4744 11.3909 17.4064 11.4704C16.5281 12.4965 15.8193 13.3247 14.3662 13.6946C14.3044 13.7103 14.266 13.6986 14.2387 13.6816C14.2067 13.6616 14.1716 13.6216 14.1476 13.5577C14.0975 13.4246 14.119 13.2548 14.2216 13.1436C14.9988 12.301 15.5509 11.1572 15.7482 9.53005C16.1177 6.48215 14.7325 3.23556 12.0625 2.06496Z"
              fill="currentcolor"
            />
          </svg>
          AI Enhanced
        </p>
      )
    }
    {
      post.data.ai === "writed" && (
        <p class="ai-writed">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M4.5 9.76594C4.5 5.73718 7.87403 2.5 12 2.5C16.126 2.5 19.5 5.73718 19.5 9.76594C19.5 12.1199 18.5269 14.2437 16.7051 15.5831C16.5794 15.6756 16.5033 15.7902 16.4767 15.9028C16.418 16.1521 16.353 16.441 16.2864 16.751C16.2666 16.8434 16.185 16.9095 16.0905 16.9095H12.95C12.8395 16.9095 12.75 16.82 12.75 16.7095V16.0456L13.7993 14.3975C14.0064 14.0722 13.9331 13.643 13.6299 13.4048L11.8308 11.992L12.6327 10.7326C12.8551 10.3832 12.7522 9.91958 12.4028 9.69712C12.0534 9.47466 11.5898 9.57757 11.3673 9.92698L10.2007 11.7594C9.9936 12.0847 10.0669 12.5139 10.3701 12.7521L12.1692 14.1649L11.3673 15.4243C11.2907 15.5447 11.25 15.6844 11.25 15.8271V16.7095C11.25 16.82 11.1605 16.9095 11.05 16.9095H7.90949C7.815 16.9095 7.73344 16.8434 7.71359 16.751C7.64697 16.441 7.58199 16.1522 7.52325 15.9028C7.49675 15.7902 7.42064 15.6756 7.2949 15.5831C5.47313 14.2437 4.5 12.1199 4.5 9.76594Z"
              fill="currentcolor"
            />
            <path
              d="M8.28101 18.4095C8.15644 18.4095 8.06223 18.5223 8.08341 18.645C8.1876 19.249 8.26458 19.7924 8.28682 20.1599C8.34981 21.2011 9.11672 22.0588 10.1422 22.2803L10.3382 22.3227C11.4326 22.5591 12.5674 22.5591 13.6618 22.3227L13.8578 22.2803C14.8833 22.0588 15.6502 21.2011 15.7132 20.1599C15.7354 19.7924 15.8124 19.2491 15.9166 18.645C15.9378 18.5223 15.8436 18.4095 15.719 18.4095H8.28101Z"
              fill="currentcolor"
            />
          </svg>
          AI Writed
        </p>
      )
    }
  </header>
  <main id="post-md">
    <Content />
  </main>
</RootLayout>
