:root {
  --dark: #080f0f;
  --border: #1a2d2d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: #edffff;

  font-family: "Roboto", sans-serif;

  max-width: 850px;

  margin: 0 auto;
  padding: 20px;
  padding-top: 40px;

  background: var(--dark);
  background-size: 30px 30px;
  background-image: radial-gradient(
    circle,
    var(--border) 1px,
    rgba(0, 0, 0, 0) 1px
  );

  display: flex;
  flex-direction: column;

  gap: 40px;

  box-sizing: border-box;
}

nav {
  font-size: 14px;
  font-weight: 500;

  display: flex;
  justify-content: center;

  & > ul {
    padding: 4px;

    display: flex;
    list-style: none;

    background: var(--dark);
    border: 1px solid var(--border);
    border-radius: 50px;

    & > li > a {
      color: inherit;
      text-decoration: none;

      padding: 0.6em 1em;
      display: block;

      &.active {
        background: var(--border);

        border-radius: 50px;
      }
    }
  }
}

header {
  font-weight: 700;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 10px;

  & > h3 {
    font-size: 24px;
  }

  & > p {
    color: rgb(160, 160, 160);
    font-size: 16px;

    & > a {
      text-decoration: none;
    }
  }

  .glow {
    color: transparent;

    background-clip: text;

    background-color: #9e99ff;
    background-image: radial-gradient(
        at 9% 84%,
        hsla(180, 88%, 78%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 30% 77%, hsla(296, 85%, 62%, 1) 0px, transparent 50%),
      radial-gradient(at 38% 99%, hsla(268, 81%, 65%, 1) 0px, transparent 50%),
      radial-gradient(at 29% 2%, hsla(277, 76%, 69%, 1) 0px, transparent 50%),
      radial-gradient(at 37% 66%, hsla(108, 75%, 75%, 1) 0px, transparent 50%),
      radial-gradient(at 78% 46%, hsla(190, 81%, 75%, 1) 0px, transparent 50%),
      radial-gradient(at 60% 68%, hsla(219, 63%, 75%, 1) 0px, transparent 50%);

    text-shadow: 0 0 24px rgba(158, 153, 255, 0.5);

    animation: glowAnimation 2s infinite;
  }
}

.quote {
  color: rgb(205, 205, 205);
  font-weight: 400;

  margin-top: 25px;
  padding: 15px 25px;

  background: var(--dark);
  border: 1px solid var(--border);
  border-radius: 10px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);

  position: relative;

  & > svg {
    position: absolute;
    top: -12px;
    left: 50%;

    transform: translateX(-50%);
  }
}

.projects-container {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.projects {
  padding: 0 20px;

  display: flex;
  flex-direction: column;

  gap: 30px;
}

.project {
  color: inherit;
  text-decoration: none;

  padding: 20px;

  border: 1px solid transparent;
  border-radius: 10px;

  transition: 0.1s;
  outline: none;

  article {
    display: flex;
    flex-direction: column;

    gap: 5px;
  }

  &:hover,
  &:active {
    color: white;

    background: var(--dark);
    border-color: var(--border);
    box-shadow: 0 0 24px rgba(255, 255, 255, 0.025);

    & p {
      color: white;
    }
  }

  &:focus {
    background: var(--dark);
    border-color: white;

    & p {
      color: white;
    }
  }

  & .project-title {
    color: rgb(228, 224, 224);

    display: flex;

    align-items: center;
    gap: 10px;

    & h2 {
      font-size: 18px;
      font-weight: 400;
    }
  }

  & p {
    color: rgb(147, 147, 147);

    transition: 0.1s;
  }
}

@keyframes glowAnimation {
  0% {
    filter: hue-rotate(0deg);
    text-shadow: 0 0 24px rgba(158, 153, 255, 0.45);
  }

  50% {
    text-shadow: 0 0 24px rgba(158, 153, 255, 0.65);
  }

  100% {
    filter: hue-rotate(360deg);
    text-shadow: 0 0 24px rgba(158, 153, 255, 0.45);
  }
}
