---
import Root from "../layouts/Root.astro";
---

<Root>
	<main class="max-w-3xl mx-auto py-10 px-4">
		<div class="flex flex-col gap-6">
			<h1 class="text-lg text-stone-400">
				Hey, I'm <span class="text-stone-50">Jorge Reyes</span>.
			</h1>
			<p class="text-lg leading-relaxed">
				A Software Engineer that loves to learn new things, linux
				enthusiast, video-games enjoyer and above all, human. Currently
				working at <a
					href="https://jetpacklabs.com"
					class="underline underline-offset-4 decoration-stone-400 hover:text-orange-300 hover:decoration-current"
					>Jetpack Labs</a
				> building beautiful and usable web experiences.
			</p>
		</div>
	</main>
</Root>
