---
import Root from "../layouts/Root.astro";
---

<Root>
	<main class="max-w-7xl mx-auto py-10">
		<div class="flex flex-col gap-2">
			<h1 class="text-xl text-stone-400">
				Hey, I'm <span class="text-stone-50">Jorge Reyes</span>.
			</h1>
			<p class="text-2xl leading-relaxed">
				I'm a Software Engineer currently working on
				<a href="http://jetpacklabs.com" class="underline underline-offset-2 hover:text-orange-300">Jetpack Labs Inc.</a>
			</p>
		</div>
	</main>
</Root>
