---
import { getCollection } from "astro:content";
import Root from "../layouts/Root.astro";

const blogPosts = (await getCollection("blog")).sort(
    (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate),
);
---

<Root>
    <main>
        <ul class="flex flex-col gap-6 mb-10">
            {
                blogPosts.map((post) => (
                    <li class="flex flex-col gap-2 hover:bg-stone-900 transition p-4 rounded-lg">
                        <div class="flex items-center justify-between">
                            <h2 class="font-serif">
                                <a
                                    href={`/writing/${post.slug}`}
                                    class="hover:underline underline-offset-2"
                                >
                                    {post.data.title}
                                </a>
                            </h2>
                            <small class="text-xs text-stone-400">
                                {post.data.pubDate}
                            </small>
                        </div>
                        <ul class="flex items-center flex-wrap gap-2">
                            {post.data.tags.map((tag) => (
                                <li class="text-xs text-stone-400 bg-stone-800 rounded px-1.5 py-0.5 border border-stone-700/50 uppercase">
                                    {tag}
                                </li>
                            ))}
                        </ul>
                    </li>
                ))
            }
        </ul>
    </main>
</Root>
