*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

body {
  color: white;

  background-color: #0f172a;
  background-image: radial-gradient( #17223b, #0f172a);

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > #main-container {
    width: 100%;
    max-width: 720px;
    height: 100vh;

    padding: 0 20px;
    padding-top: 20px;
  }
}

nav {
  width: 100%;

  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    padding: 3px;
    list-style: none;

    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 25px;

    display: flex;

    li {
      color: rgba(white, 0.5);
      font-size: 13px;
      font-weight: 500;

      padding: 5px 10px;

      border: 1px solid transparent;
      border-radius: 20px;

      position: relative;
      z-index: 0;

      &.active {
        color: rgba(white, 0.9);

        background-color: #0f172a;
        border: 1px solid rgba(255, 255, 255, 0.05);
      }

      a {
        color: currentcolor;
        text-decoration: none;
      }
    }
  }
}

header {
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 10px;

  h1 {
    font-size: 20px;
    font-weight: 600;
  }

  small {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 300;
  }
}

.thought {
  font-weight: 300;
  text-align: center;

  margin-top: 15px;
  padding: 15px 20px;

  background-color: #0e1221;
  border: 1px solid #1a1f2c;
  border-radius: 10px;

  position: relative;

  svg {
    width: 22px;
    height: 11px;

    position: absolute;
    top: -10px;
    left: 50%;

    transform: translateX(-50%);
  }
}

main {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 20px;
    font-weight: 600;
  }

  section {
    padding: 20px;

    display: flex;
    flex-direction: column;

    gap: 20px;

    & a {
      color: inherit;
      text-decoration: none;

      border: 1px solid transparent;

      &:focus,
      &:hover {
        background-color: #0e1221;
        border: 1px solid #1a1f2c;
        border-radius: 10px;
      }
    }

    article {
      color: white;
      padding: 20px;

      display: flex;
      flex-direction: column;
      gap: 5px;

      position: relative;
      cursor: pointer;
      transition: 0.2s;

      h3 {
        font-size: 16px;
        font-weight: 500;

        display: flex;
        align-items: center;
        gap: 5px;

        svg {
          stroke: #878787;
          width: 12px;
          height: 12px;
        }
      }

      p {
        color: #cdcdcd;
        font-size: 14px;
        font-weight: 300;
        transition: inherit;
      }
    }
  }
}

.glow {
  color: transparent;

  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;

  background-size: 100px 100px;

  background-color: #99ffd1;
  background-image: radial-gradient(
      at 23% 99%,
      hsla(236, 93%, 77%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 42% 78%, hsla(13, 67%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 92% 76%, hsla(38, 78%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 3% 18%, hsla(304, 88%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 75% 23%, hsla(198, 87%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 39% 73%, hsla(140, 60%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 9% 50%, hsla(216, 98%, 75%, 1) 0px, transparent 50%);

  animation: glowAnimation 1s infinite alternate;
}

@keyframes glowAnimation {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}
