*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

body {
  color: white;

  width: 100%;

  padding: 1rem;

  background-color: #0f172a;

  box-sizing: border-box;

  display: flex;
  justify-content: center;

  & > #main-container {
    width: 100%;
    max-width: 1280px;
    height: 100vh;
  }
}
