<style>
  footer {
    padding: 1rem 1rem 0.5rem 1rem;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px 15px 0 0;

    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .icon_bold {
    fill: #777;
    transition: 0.2s;
  }

  .icon_bold:hover {
    fill: white;
  }

  .icon_outline {
    stroke: #777;
    transition: 0.2s;
  }

  .icon_outline:hover {
    stroke: white;
  }
</style>

<footer>
  <!--Github -->
  <a href="https://github.com/imreyesjorge" class="no_border"
    ><svg
      class="icon_bold"
      width="20px"
      height="20px"
      viewBox="0 0 32 32"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>github</title>
      <path
        d="M16 1.375c-8.282 0-14.996 6.714-14.996 14.996 0 6.585 4.245 12.18 10.148 14.195l0.106 0.031c0.75 0.141 1.025-0.322 1.025-0.721 0-0.356-0.012-1.3-0.019-2.549-4.171 0.905-5.051-2.012-5.051-2.012-0.288-0.925-0.878-1.685-1.653-2.184l-0.016-0.009c-1.358-0.93 0.105-0.911 0.105-0.911 0.987 0.139 1.814 0.718 2.289 1.53l0.008 0.015c0.554 0.995 1.6 1.657 2.801 1.657 0.576 0 1.116-0.152 1.582-0.419l-0.016 0.008c0.072-0.791 0.421-1.489 0.949-2.005l0.001-0.001c-3.33-0.375-6.831-1.665-6.831-7.41-0-0.027-0.001-0.058-0.001-0.089 0-1.521 0.587-2.905 1.547-3.938l-0.003 0.004c-0.203-0.542-0.321-1.168-0.321-1.821 0-0.777 0.166-1.516 0.465-2.182l-0.014 0.034s1.256-0.402 4.124 1.537c1.124-0.321 2.415-0.506 3.749-0.506s2.625 0.185 3.849 0.53l-0.1-0.024c2.849-1.939 4.105-1.537 4.105-1.537 0.285 0.642 0.451 1.39 0.451 2.177 0 0.642-0.11 1.258-0.313 1.83l0.012-0.038c0.953 1.032 1.538 2.416 1.538 3.937 0 0.031-0 0.061-0.001 0.091l0-0.005c0 5.761-3.505 7.029-6.842 7.398 0.632 0.647 1.022 1.532 1.022 2.509 0 0.093-0.004 0.186-0.011 0.278l0.001-0.012c0 2.007-0.019 3.619-0.019 4.106 0 0.394 0.262 0.862 1.031 0.712 6.028-2.029 10.292-7.629 10.292-14.226 0-8.272-6.706-14.977-14.977-14.977-0.006 0-0.013 0-0.019 0h0.001z"
      ></path>
    </svg></a
  >
  <!--Mastodon -->
  <a href="https://mastodon.social/@imreyes" class="no_border"
    ><svg
      class="icon_bold"
      width="20px"
      height="20px"
      viewBox="-10 -5 1034 1034"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
    >
      <path
        d="M499 112q-93 1 -166 11q-81 11 -128 33l-14 8q-16 10 -32 25q-22 21 -38 47q-21 33 -32 73q-14 47 -14 103v37q0 77 1 119q3 113 18 188q19 95 62 154q50 67 134 89q109 29 210 24q46 -3 88 -12q30 -7 55 -17l19 -8l-4 -75l-22 6q-28 6 -57 10q-41 6 -78 4q-53 -1 -80 -7
     q-43 -8 -67 -30q-29 -25 -35 -72q-2 -14 -2 -29l25 6q31 6 65 10q48 7 93 9q42 2 92 -2q32 -2 88 -9t107 -30q49 -23 81.5 -54.5t38.5 -63.5q9 -45 13 -109q4 -46 5 -97v-41q0 -56 -14 -103q-11 -40 -32 -73q-16 -26 -38 -47q-15 -15 -32 -25q-12 -8 -14 -8
     q-46 -22 -127 -33q-74 -10 -166 -11h-3zM367 267q73 0 109 56l24 39l24 -39q36 -56 109 -56q63 0 101 43t38 117v239h-95v-232q0 -74 -61 -74q-69 0 -69 88v127h-94v-127q0 -88 -69 -88q-61 0 -61 74v232h-95v-239q0 -74 38 -117t101 -43z"
      ></path>
    </svg></a
  >
  <!--Twitter -->
  <a href="https://twitter.com/imreyesjorge" class="no_border"
    ><svg
      width="20px"
      height="20px"
      viewBox="0 0 960 960"
      class="icon_bold"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M282.554 305.916C335.787 349.961 402.104 368.638 470.519 367.04C475.413 367.339 477.111 365.342 478.409 360.947C498.784 272.058 603.253 221.122 670.968 295.529C683.653 291.734 715.113 267.664 725.3 274.356C729.495 277.651 730.594 282.745 726.499 285.941C716.312 295.629 710.319 307.814 704.626 320.398C716.212 318.201 728.696 311.509 740.481 314.006C768.646 333.182 696.237 347.964 700.931 386.715C698.234 514.555 637.011 634.306 506.674 669.561C432.666 690.935 349.171 701.621 276.561 669.661C244.501 650.485 282.354 642.096 299.633 637.502C321.106 629.911 341.68 619.424 360.157 606.341C332.691 584.468 235.013 547.314 313.615 521.047C286.249 502.97 181.98 419.274 265.975 413.382C256.087 380.623 250.294 347.664 242.404 314.505C239.008 284.543 267.872 289.936 282.554 305.916Z"
        fill="transparent"></path>
      <path
        d="M627.525 875.005C505.577 876.803 377.637 888.688 257.188 861.921C152.119 837.652 99.7847 752.958 91.7947 649.986C88.7984 509.662 74.6161 362.346 117.762 226.815C176.689 66.4157 317.912 86.7903 458.736 80.598C528.249 83.6941 599.26 73.3071 667.775 90.3858C749.972 102.87 826.576 161.497 851.345 242.196C864.629 275.255 864.629 311.709 867.425 346.566C871.22 429.562 872.918 512.558 870.921 595.554C861.533 763.045 812.594 871.609 627.525 875.005ZM470.521 367.04C402.107 368.638 335.79 349.961 282.556 305.916C267.875 289.936 239.011 284.543 242.406 314.606C250.197 347.764 256.089 380.723 265.977 413.482C181.982 419.375 286.252 502.97 313.617 521.147C235.016 547.415 332.694 584.568 360.159 606.441C341.682 619.624 321.108 630.011 299.635 637.602C282.356 642.096 244.504 650.486 276.564 669.762C349.173 701.722 432.569 691.035 506.676 669.662C636.913 634.306 698.237 514.456 700.933 386.715C696.239 347.964 768.549 333.282 740.484 314.006C728.699 311.509 716.214 318.201 704.629 320.398C710.322 307.914 716.314 295.729 726.501 285.941C730.596 282.745 729.597 277.652 725.303 274.356C715.215 267.664 683.655 291.734 670.971 295.529C603.155 221.122 498.786 272.059 478.411 360.948C477.113 365.342 475.415 367.34 470.521 367.04Z"
      ></path>
    </svg></a
  >
  <!--Linkedin -->
  <a href="https://www.linkedin.com/in/imreyesjorge/" class="no_border"
    ><svg
      class="icon_bold"
      width="20px"
      height="20px"
      viewBox="0 0 32 32"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>linkedin</title>
      <path
        d="M28.778 1.004h-25.56c-0.008-0-0.017-0-0.027-0-1.199 0-2.172 0.964-2.186 2.159v25.672c0.014 1.196 0.987 2.161 2.186 2.161 0.010 0 0.019-0 0.029-0h25.555c0.008 0 0.018 0 0.028 0 1.2 0 2.175-0.963 2.194-2.159l0-0.002v-25.67c-0.019-1.197-0.994-2.161-2.195-2.161-0.010 0-0.019 0-0.029 0h0.001zM9.9 26.562h-4.454v-14.311h4.454zM7.674 10.293c-1.425 0-2.579-1.155-2.579-2.579s1.155-2.579 2.579-2.579c1.424 0 2.579 1.154 2.579 2.578v0c0 0.001 0 0.002 0 0.004 0 1.423-1.154 2.577-2.577 2.577-0.001 0-0.002 0-0.003 0h0zM26.556 26.562h-4.441v-6.959c0-1.66-0.034-3.795-2.314-3.795-2.316 0-2.669 1.806-2.669 3.673v7.082h-4.441v-14.311h4.266v1.951h0.058c0.828-1.395 2.326-2.315 4.039-2.315 0.061 0 0.121 0.001 0.181 0.003l-0.009-0c4.5 0 5.332 2.962 5.332 6.817v7.855z"
      ></path>
    </svg></a
  >
  <!--Mail -->
  <a href="mailto:jorge@reyes.im" class="no_border"
    ><svg
      class="icon_outline"
      width="20px"
      height="20px"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12ZM16 12V13.5C16 14.8807 17.1193 16 18.5 16V16C19.8807 16 21 14.8807 21 13.5V12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21H16"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg></a
  >
</footer>
