---
---
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, blockquote, ul, ol {
  margin: 1rem 0;
}

body {
  color: #e3e3e3;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(15, 23, 42);
  
  display: flex;
  justify-content: center;
  
  box-sizing: border-box;
}

.container {
  width: 100vw;
  max-width: 800px;
  min-height: 100vh;
  
  padding: 2rem;
  
  display: flex;
  flex-direction: column;
}

.main_container {
  padding-top: 2rem;
  flex-grow: 1;
}

nav {
  width: 100%;
  
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  
  display: flex;
  gap: 15px;
}

a:link,
a:visited {
  color: currentcolor;
  text-decoration: none;
}

footer {
  color: #ddd;
  width: 100%;
  
  padding: 1rem;
  
  background-color: rgba(0, 0, 0, .2);
  border-radius: 8px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  footer {
    margin-top: 2rem;
    flex-direction: column;
    gap: 15px;
  }
}

/* HOMEPAGE STYLES */

.home_header {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #aaa;
  margin: 5px 0 15px 0;
  
  span {
    color: mediumpurple;
  }
}

.personal_quote {
  color: #aaa;
  padding: 1rem;
  
  background-color: rgba(255, 255, 255, .05);
  border-radius: 8px;
  
  text-align: center;
}

.home_main {
  margin-top: 2rem;
}

.project {
  margin: 1rem;
  padding: 1rem;
  
  border-radius: 8px;
  transition: .2s;
  
  h3 {
    margin: 0;
  }
  
  p {
    font-weight: regular;
  }
  
  &:hover {
    background-color: rgba(255, 255, 255, .05);
  }
  
}


/* BLOG STYLES */

.blog_container {
  color: #bbb;
  padding: 1rem;
}

.posts_container {
  margin: 1rem;
  
  li {
    font-weight: bold;
    transition: .2s;
    
    &:hover {
      color: white;
    }
  }
  
  span {
    color: #777;
    font-weight: normal;
  }
}

.author_container {
  text-align: center;
  margin-bottom: 3rem;
  
  p {
    color: #777;
    margin-top: 0.8rem;
  }
}

/* POST STYLES */

.post_container {
  color: #ccc;
  text-align: justify;
}

.post {
  line-height: 1.6rem;
  margin-bottom: 2rem;
  
}

blockquote {
  padding: 1rem;
  font-style: italic;
  
  background-color: rgba(0, 0, 0, .05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  
  position: relative;
  overflow: hidden;
  
  &::before {
    opacity: 0.1;
    content: "❝";
    font-size: 100px;
    
    position: absolute;
    top: 18px;
    left: -6px;
    transform: rotate(-10deg);
  }
}

img {
  width: 100%;
  
  margin: 1rem 0;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

code {
  padding: .3rem .6rem;
  background-color: rgba(0, 0, 0, .2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

hr {
  color: rgba(255, 255, 255, 0.1);
  margin: 1rem 0;
}

a:link,
a:visited {
  text-decoration: underline;
}

/* Utils */
.clean:link,
.clean:visited {
  text-decoration: none;
}
