---
---
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(15, 23, 42);
  
  display: flex;
  justify-content: center;
}

.main_container {
  width: 100vw;
  max-width: 800px;
  padding: 2rem;
}

nav {
  width: 100%;
  
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  
  display: flex;
  gap: 15px;
}

a:link,
a:visited {
  color: currentcolor;
  text-decoration: none;
}
