---
---

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 2rem;
}

body {
  color: #e3e3e3;
  font-family: "Open Sans", sans-serif;

  margin: 0;

  background-color: rgb(15, 23, 42);

  display: flex;
  justify-content: center;

  box-sizing: border-box;
}

nav {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  a h3 {
    margin: 0;
  }
}

nav ul {
  list-style: none;

  display: flex;
  gap: 15px;
}

a:link,
a:visited {
  color: currentcolor;
  text-decoration: none;
  border-bottom: 1px dotted currentcolor;

  &:hover {
    color: #5db7de;
  }
}

footer {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .icon {
    color: #999;
    transition: 0.2s;

    &:hover {
      color: white;
    }
  }
}

blockquote {
  margin: 0;
  padding: 1rem;

  font-style: italic;

  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;

  position: relative;
  overflow: hidden;

  &::before {
    opacity: 0.1;
    content: "❝";
    font-size: 100px;

    position: absolute;
    top: 18px;
    left: -6px;
    transform: rotate(-10deg);
    z-index: -1;
  }

  * {
    margin: 0;
  }
}

img {
  width: 100%;

  margin: 1rem 0;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

pre {
  width: 100%;

  padding: 0.6rem 0.9rem;

  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;

  overflow-x: auto;

  code {
    padding: 0;

    background-color: transparent;
    border: none;
    border-radius: 0;
  }
}

code {
  padding: 0.3rem 0.6rem;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

hr {
  color: rgba(255, 255, 255, 0.1);
  margin: 1rem 0;
}

.container {
  width: 100vw;
  max-width: 700px;
  min-height: 100vh;

  padding: 2rem;

  display: flex;
  flex-direction: column;
}

.main_container {
  padding-top: 2rem;
  flex-grow: 1;
}

.nav_item {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* HOMEPAGE STYLES */

.home_header {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    margin: 0;
  }
}

.title {
  color: #aaa;
  margin: 5px 0 15px 0;
}

.personal_quote {
  color: #aaa;
  padding: 1rem;

  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;

  text-align: center;
}

.home_main {
  margin-top: 2rem;
}

.project {
  color: #aaa;
  margin: 1rem;
  padding: 1rem;

  border-radius: 8px;
  transition: 0.2s;

  &:hover {
    color: white;
  }

  h3 {
    margin: 0;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  p {
    margin: 0;
    font-weight: regular;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

/* BLOG STYLES */

.blog_container {
  color: #bbb;

  margin: 0;
  padding: 1rem;

  h3 {
    margin: 0;
  }
}

.posts_container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  li {
    font-weight: bold;
    transition: 0.2s;

    &:hover {
      color: white;
    }
  }

  span {
    color: #777;
    font-weight: normal;
  }
}

.author_container {
  text-align: center;
  margin-bottom: 3rem;

  h1 {
    line-height: 130%;
  }

  p {
    color: #777;
  }
}

/* POST STYLES */

.post_container {
  color: #ccc;
  text-align: justify;
}

.post {
  line-height: 1.6rem;
  margin-bottom: 2rem;
}

/* Utils */
.clean:link,
.clean:visited {
  text-decoration: none;
  border: none;

  &:hover {
    color: currentColor;
  }
}

/* Icons declarations */

.icon {
  background-color: currentColor;

  &_external {
    width: 15px;
    height: 15px;
    mask-image: url("/assets/svgs/external.svg");
    -webkit-mask-image: url("/assets/svgs/external.svg");
  }

  &_rss {
    width: 15px;
    height: 15px;
    mask-image: url("/assets/svgs/rss.svg");
    -webkit-mask-image: url("/assets/svgs/rss.svg");
  }

  &_blog {
    width: 15px;
    height: 15px;
    mask-image: url("/assets/svgs/blog.svg");
    -webkit-mask-image: url("/assets/svgs/blog.svg");
  }

  &_mastodon {
    width: 20px;
    height: 20px;
    mask-image: url("/assets/svgs/mastodon.svg");
    -webkit-mask-image: url("/assets/svgs/mastodon.svg");
  }

  &_twitter {
    width: 20px;
    height: 20px;
    mask-image: url("/assets/svgs/twitter.svg");
    -webkit-mask-image: url("/assets/svgs/twitter.svg");
  }

  &_linkedin {
    width: 20px;
    height: 20px;
    mask-image: url("/assets/svgs/linkedin.svg");
    -webkit-mask-image: url("/assets/svgs/linkedin.svg");
  }

  &_github {
    width: 20px;
    height: 20px;
    mask-image: url("/assets/svgs/github.svg");
    -webkit-mask-image: url("/assets/svgs/github.svg");
  }

  &_mail {
    width: 15px;
    height: 15px;
    mask-image: url("/assets/svgs/mail.svg");
    -webkit-mask-image: url("/assets/svgs/mail.svg");
  }
}

/* Utils */
.glow {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 500px 500px;
  background-image: radial-gradient(
      at 40% 20%,
      hsla(28, 100%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
  animation: "glow-animation" infinite 2s linear;
}

/* Animations */
@keyframes glow-animation {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}
