---
import "../styles/_global.scss";
import Navbar from "../components/shared/Navbar.astro";
import Footer from "../components/shared/Footer.astro";
import { ViewTransitions } from "astro:transitions";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Reyes {pageTitle && `– ${pageTitle}`}</title>
    <ViewTransitions />
    <meta name="google-site-verification" content="dCt4RUb5n11TPagjASeCJoSb6imWCmhYsIyNJNduV9A" />
  </head>
  <body>
    <Navbar />
    <div style="flex-grow: 1;">
      <slot />
    </div>
    <Footer />
  </body>
</html>
