---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Root from "../../layouts/Root.astro";
import "./styles.css";

export const getStaticPaths = (async () => {
    const blogEntries = await getCollection("blog");
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Root>
    <div>
        <div class="mb-10 text-center">
            <h1
                class="font-serif"
                style={{ fontSize: "36px", marginBottom: "10px" }}
            >
                {entry.data.title}
            </h1>
            <p class="text-sm text-stone-400">{entry.data.pubDate}</p>
        </div>
        <main id="md-content" class="text-stone-50 leading-relaxed">
            <Content />
        </main>
    </div>
</Root>
